<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SpiderFlow</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/layui/layui.all.js"></script>
    <script type="text/javascript" src="js/index_new.js"></script>
</head>
<body>
    <div class="root">
        <header>
        </header>
        <article>
            <aside>
                <ul class="menus">
                    <li><a href="javascript:;" id="create">新建</a></li>
                    <li class="active"><a href="javascript:;">我的爬虫</a></li>
                </ul>
            </aside>
            <div class="content">
                <div class="main">
                </div>
            </div>
        </article>
    </div>
</body>
<script id="items" type="text/x-jquery-tmpl">
    {{each(i,item) content}}
        <div class="item clearfix" title="{{= item.name+'\r\n'}}创建时间：{{= item.createDate}}" data-title="{{= item.name}}" data-id="{{= item.id}}" data-cron="{{= item.cron}}">
            <span class="text">{{= item.name}}</span>
            <i class="icon cron-edit{{if !!item.cron}}{{= ' has'}}{{/if}}" title="编辑 cron 表达式"></i>
            <i class="icon status status-{{if item.enabled!='0'}}enable{{else}}disable{{/if}}" title="{{if item.enabled!='0'}}已{{else}}未{{/if}}启用"></i>
            <i class="icon delete" title="删除"></i>
        </div>
    {{/each}}
</script>
</html>