@charset "UTF-8";
*{margin:0;padding:0;}
a{text-decoration:none;}
a:link{color:black;}
html,body{font-size:12px;position: relative;}
ul,ol{list-style:none;}
.clearfix:after {content: " ";display: block;;line-height: 0;height: 0;visibility: hidden;clear: both;}